* {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
}

:focus {
  outline: none;
}

html,
body {
  margin: 0;
  color: $white;
}

.list-plain {
  list-style-type: none;
  padding: 0;
}

a {
  color: $sw-yellow;
  text-decoration: none;

  &:hover {
    color: $sw-yellow;
    text-decoration: underline;
  }
}

#app {
  animation: fadeIn 1s ease-out forwards;
  z-index: $content-zix;
}

.wrapper-full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding-top: $nav-height;
  padding-bottom: $nav-height;
}