* {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
}

:focus {
  outline: none;
}

html,
body {
  margin: 0;
  color: $white;
  overflow-x: hidden;
}

.list-plain {
  list-style-type: none;
  padding: 0;
}

a {
  color: $sw-yellow;
  text-decoration: none;

  &:hover,
  &:focus-within {
    color: $sw-yellow;
    text-decoration: underline;
  }
}

#app {
  animation: fadeIn 1s ease-out forwards;
  z-index: $content-zix;
}

.wrapper-full-height {
  min-height: 100vh;
  height: 100%;
  padding-top: $nav-height;
  padding-bottom: $nav-height;
}

.btn {
  color: $white;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;

  &:hover,
  &:focus-within {
    color: $sw-yellow;
    background-color: adjust-color($sw-blue, $alpha: -0.6);
  }
}